.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .front {
  transform: rotatey(0deg);
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  
  @media screen and (max-width: 576px) {
    .card-grid {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
  }